<div style="background-color: #e1e1e1; padding: 20px 0px;">
  <div class="page-width">

    <h2 class="h2">ZUM AUTOR:</h2>

    <div class="grid">
      <div class="grid__item medium-up--one-third">
        <img src="https://cdn.shopify.com/s/files/1/0003/7729/0803/files/28276384_10211986587720536_2341888912460033590_n_cut_large.jpg?v=1526849543" alt="Adrian Piegsa - Shopify Expert" width="217" height="198">
      </div>

      <div class="grid__item medium-up--two-thirds">
      
            
      <strong>Adrian Piegsa ist deutscher Shopify Experte bei Tante-E.com</strong><span>&nbsp;</span>und hilft Shop-Betreibern den Umsatz ihres Shopify Shops zu steigern. Neben der Beratung von Shopify Shops in Deutschland rund um das Thema Performance Optimierung, betreibt er und sein Team selbst derzeit drei Online-Shops, selbstverständlich auf Basis von Shopify. Zudem ist er Organisator der Berliner Shopify Meetups und teilt neuerdings sein Wissen in Blog Posts sowie in seinen Video Podcasts.


      </div>
    </div>
  </div>
</div>