<div style="background-color: #e1e1e1; padding: 20px 0px;">
  <div class="page-width">


    <div class="grid">

      <div class="grid__item medium-up--one-third text-center">
         <h2 class="h2">{{name}}</h2>
        <img src="{{img  | img_url: 'large'}}" alt="Yassmin Ali - Content Marketing" height="180px" style="border-radius: 50em; border: 5px solid rgba(255,255,255,0.5);">
      </div>

      <div class="grid__item medium-up--two-thirds" style="    height: 200px;
    display: flex;
    align-items: center;">
      
            
      {{bio}}


      </div>
    </div>
  </div>
</div>